.loader {
  position: relative;
  width: 6rem;
  height: 6rem;
  text-align: center;

  &::before {
    content: 'Loading...';
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1rem;
    transform: translateX(-50%) translateY(-50%);
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6rem;
    height: 6rem;
    border: .7rem solid rgba(white, 0.1);
    border-left-color: #1b9228;
    border-radius: 9999px;
    transform: translateX(-50%) translateY(-50%);
    animation: spin-animation 1.4s linear infinite;
  }
}

.spin-loader-margins {
  margin: 15rem auto;
}
