@import url('https://fonts.googleapis.com/css?family=Righteous');
html {
  height: 100%;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.6;
  background-image: url(../img/trianglify.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: $lightgreen;
}

h1 {
  margin: 4rem 0;
  text-shadow: 1px 1px 1px $white;
  font: 5rem 'Righteous', cursive;
  text-align: center;
}

.page-footer {
  margin-top: auto;
  padding: 2rem;
  color: $white;
  font-family: 'freight-text-pro', Georgia, Cambria, 'Times New Roman', Times, serif;
  background-color: rgba($grey-dark, .65);

  a {
    color: $white;
  }
}
